<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">About</h1>
</div>

<img src="img/about.jpg" alt="Laptop" width="473" height="316">
<p>My Profile Pic Of github</p>

<div class="pt-3">
  <p>This is a simple user management system is Available in Git Hub</p>
  <p>Check out my <a href="https://github.com/manohar0707/">Git Hub Profile </a> and support by following!</p>
</div>

